/* Emacs color theme */
/* #2a2a29, #f6f3e8 */
/* #e5c06d, #ddaa6f, #ffb4ac, #e5786d */
/* #834c98, #a4b5e6, #7ec98f, #8ac6f2 */

body {
    color: #f6f3e8;
    background: #2a2a29;
}

body,
#sidebar-footer,
#article-listing .article-listing-readmore {
    background: #2a2a29;
}

code,
#sidebar-social-links a {
    color: #e5786d;
}

a,
#sidebar-title-home:hover,
#content-nav .nav-link:hover,
#TableOfContents a:hover {
    color: #8ac6f2;
}

#sidebar {
    border-right: 1px solid rgba(0, 0, 0, 0.2);
}

#sidebar-title-home {
    color: rgba(256, 256, 256, 0.8);
}

#TableOfContents-title,
#content-nav .nav-link,
#article-listing .article-listing-date,
#article-info {
    color: rgba(256, 256, 256, 0.6);
}

#TableOfContents a {
    color: rgba(256, 256, 256, 0.5);
}

@media (max-width: 991px) {
    #content-nav .nav-link {
        color: #8ac6f2;
    }
}
