/* ((base03 . "#292928")
   (base02 . "#2e2e2d")
   (base01 . "#6a6965")                   ;##75715e
   (base00 . "#73726e")
   (base0 . "#8c8a85")
   (base1 . "#989790")
   (base2 . "#e7e4da")
   (base3 . "#f5f2e7")
   (yellow . "#e5c06d")
   (orange . "#ddaa6f")
   (red . "#ffb4ac")
   (magenta . "#e5786d")                  ;#f92672
   (violet . "#834c98")
   (blue . "#a4b5e6")                     ;#a6e22e
   (cyan . "#7ec98f")                     ;#e6db74
   (green . "#8ac6f2")                    ;#66d9ef
   (yellow-d . "#4b4436")
   (yellow-l . "#f3e7ce")
   (orange-d . "#4a4036")
   (orange-l . "#f1e3ce")
   (red-d . "#4f4240")
   (red-l . "#f8e5da")
   (magenta-d . "#4c3935")
   (magenta-l . "#f5d9cd")
   (violet-d . "#3b313d")
   (violet-l . "#decfd7")
   (blue-d . "#404249")
   (blue-l . "#e5e5e6")
   (cyan-d . "#3a463b")
   (cyan-l . "#ddead4")
   (green-d . "#3d454b")
   (green-l . "#e1e8e9")
   (yellow-1bg . "#433d32")
   (orange-1bg . "#423a32")
   (red-1bg . "#453c3a")
   (magenta-1bg . "#433532")
   (blue-1bg . "#3a3c41")
   (cyan-1bg . "#363e36")
   (green-1bg . "#383e42")
   (violet-1bg . "#362f38")
   (yellow-1fg . "#ebce91")
   (orange-1fg . "#e5be91")
   (red-1fg . "#fcc6bc")
   (magenta-1fg . "#ed9c8f")
   (violet-1fg . "#a57caf")
   (blue-1fg . "#bdc6e6")
   (cyan-1fg . "#a2d5a8")
   (green-1fg . "#add2ee")
   (yellow-2bg . "#6f6043")
   (orange-2bg . "#6c5943")
   (red-2bg . "#775d59")
   (magenta-2bg . "#704842")
   (violet-2bg . "#4c3852")
   (blue-2bg . "#575d6d")
   (cyan-2bg . "#4a644f")
   (green-2bg . "#506371")
   (yellow-2fg . "#eed5a3")
   (orange-2fg . "#e9c9a3")
   (red-2fg . "#fbcfc5")
   (magenta-2fg . "#f0afa1")
   (violet-2fg . "#b694bb")
   (blue-2fg . "#c9cfe6")
   (cyan-2fg . "#b4dbb5")
   (green-2fg . "#bed9ec")) */

/* Background */ .chroma { color: #f6f3e8; background-color: #222221 }
/* Other */ .chroma .x {  }
/* Error */ .chroma .err { color: #ffb4ac; background-color: #1e0010 }
/* LineTableTD */ .chroma .lntd { vertical-align: top; padding: 0; margin: 0; border: 0; }
/* LineTable */ .chroma .lntable { border-spacing: 0; padding: 0; margin: 0; border: 0; width: auto; overflow: auto; display: block; }
/* LineHighlight */ .chroma .hl { display: block; width: 100%;background-color: #2e2e2d }
/* LineNumbersTable */ .chroma .lnt { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* LineNumbers */ .chroma .ln { margin-right: 0.4em; padding: 0 0.4em 0 0.4em;color: #7f7f7f }
/* Keyword */ .chroma .k { color: #8ac6f2 }
/* KeywordConstant */ .chroma .kc { color: #8ac6f2 }
/* KeywordDeclaration */ .chroma .kd { color: #8ac6f2 }
/* KeywordNamespace */ .chroma .kn { color: #e5786d }
/* KeywordPseudo */ .chroma .kp { color: #8ac6f2 }
/* KeywordReserved */ .chroma .kr { color: #8ac6f2 }
/* KeywordType */ .chroma .kt { color: #8ac6f2 }
/* Name */ .chroma .n {  }
/* NameAttribute */ .chroma .na { color: #a4b5e6 }
/* NameBuiltin */ .chroma .nb {  }
/* NameBuiltinPseudo */ .chroma .bp {  }
/* NameClass */ .chroma .nc { color: #a4b5e6 }
/* NameConstant */ .chroma .no { color: #8ac6f2 }
/* NameDecorator */ .chroma .nd { color: #a4b5e6 }
/* NameEntity */ .chroma .ni {  }
/* NameException */ .chroma .ne { color: #a4b5e6 }
/* NameFunction */ .chroma .nf { color: #a4b5e6 }
/* NameFunctionMagic */ .chroma .fm {  }
/* NameLabel */ .chroma .nl {  }
/* NameNamespace */ .chroma .nn {  }
/* NameOther */ .chroma .nx { color: #a4b5e6 }
/* NameProperty */ .chroma .py {  }
/* NameTag */ .chroma .nt { color: #e5786d }
/* NameVariable */ .chroma .nv {  }
/* NameVariableClass */ .chroma .vc {  }
/* NameVariableGlobal */ .chroma .vg {  }
/* NameVariableInstance */ .chroma .vi {  }
/* NameVariableMagic */ .chroma .vm {  }
/* Literal */ .chroma .l { color: #ae81ff }
/* LiteralDate */ .chroma .ld { color: #7ec98f }
/* LiteralString */ .chroma .s { color: #7ec98f }
/* LiteralStringAffix */ .chroma .sa { color: #7ec98f }
/* LiteralStringBacktick */ .chroma .sb { color: #7ec98f }
/* LiteralStringChar */ .chroma .sc { color: #7ec98f }
/* LiteralStringDelimiter */ .chroma .dl { color: #7ec98f }
/* LiteralStringDoc */ .chroma .sd { color: #7ec98f }
/* LiteralStringDouble */ .chroma .s2 { color: #7ec98f }
/* LiteralStringEscape */ .chroma .se { color: #ae81ff }
/* LiteralStringHeredoc */ .chroma .sh { color: #7ec98f }
/* LiteralStringInterpol */ .chroma .si { color: #7ec98f }
/* LiteralStringOther */ .chroma .sx { color: #7ec98f }
/* LiteralStringRegex */ .chroma .sr { color: #7ec98f }
/* LiteralStringSingle */ .chroma .s1 { color: #7ec98f }
/* LiteralStringSymbol */ .chroma .ss { color: #7ec98f }
/* LiteralNumber */ .chroma .m { color: #ae81ff }
/* LiteralNumberBin */ .chroma .mb { color: #ae81ff }
/* LiteralNumberFloat */ .chroma .mf { color: #ae81ff }
/* LiteralNumberHex */ .chroma .mh { color: #ae81ff }
/* LiteralNumberInteger */ .chroma .mi { color: #ae81ff }
/* LiteralNumberIntegerLong */ .chroma .il { color: #ae81ff }
/* LiteralNumberOct */ .chroma .mo { color: #ae81ff }
/* Operator */ .chroma .o { color: #e5786d }
/* OperatorWord */ .chroma .ow { color: #e5786d }
/* Punctuation */ .chroma .p {  }
/* Comment */ .chroma .c { color: #6a6965 }
/* CommentHashbang */ .chroma .ch { color: #6a6965 }
/* CommentMultiline */ .chroma .cm { color: #6a6965 }
/* CommentSingle */ .chroma .c1 { color: #6a6965 }
/* CommentSpecial */ .chroma .cs { color: #6a6965 }
/* CommentPreproc */ .chroma .cp { color: #6a6965 }
/* CommentPreprocFile */ .chroma .cpf { color: #6a6965 }
/* Generic */ .chroma .g {  }
/* GenericDeleted */ .chroma .gd { color: #e5786d }
/* GenericEmph */ .chroma .ge { font-style: italic }
/* GenericError */ .chroma .gr {  }
/* GenericHeading */ .chroma .gh {  }
/* GenericInserted */ .chroma .gi { color: #a4b5e6 }
/* GenericOutput */ .chroma .go {  }
/* GenericPrompt */ .chroma .gp {  }
/* GenericStrong */ .chroma .gs { font-weight: bold }
/* GenericSubheading */ .chroma .gu { color: #6a6965 }
/* GenericTraceback */ .chroma .gt {  }
/* GenericUnderline */ .chroma .gl {  }
/* Text */ .chroma . {  }
/* TextWhitespace */ .chroma .w {  }
